# Public URLs (production example)
# VITE_API_URL=https://vixxy-dorance-api.onrender.com/api
# VITE_SOCKET_URL=https://vixxy-dorance-api.onrender.com
# VITE_STORE_URL=https://vixxy-dorance.vercel.app

VITE_API_URL=http://localhost:3003/api
VITE_SOCKET_URL=http://localhost:3003
VITE_STORE_URL=http://localhost:3000
